RewriteEngine On
RewriteBase /Bijouterie/backend/

RewriteRule ^api/product/([0-9]+)/?$ product.php?id=$1 [L,QSA]
RewriteRule ^api/product/?$ product.php

RewriteRule ^api/user/([0-9]+)/?$ user.php?id=$1 [L,QSA]
RewriteRule ^api/user/?$ user.php
RewriteRule ^api/user/auth/?$ user.php
RewriteRule ^api/user/reg/?$ user.php